.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}
.wrapperTitle {
  background: rgba(243, 243, 243, 1);
  width: 212px;
  text-align: start;
}
