.app {
  background: rgb(235, 228, 228);
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
}

.tabsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.tabList {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid rgb(148, 142, 142);
}
ul.tabList li {
  float: left;
  margin-left: 18px;
  /* border-bottom: 2px solid blue; */
}
ul.tabList li:first-child{
  margin-left: 0;
}
ul.tabList button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
ul.tabList button:hover {
  color: rgba(60, 29, 235, 0.986);
  border-bottom: 2px solid rgb(55, 27, 216);
}
ul.tabList button:disabled {
  opacity: 0.7;
  cursor: default;
  color: rgb(116, 116, 116);
  border: none;
  cursor: default;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.wrapperTabs {
  padding: 10px;
  background-color: rgb(230, 219, 219);
  display: flex;
  flex-direction: column;
}
.wrapperTitle {
  background: rgb(212, 207, 207);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* burger menu staff */
nav {
  width: 100%;
  height: 60px;
  background-color: blue;
  position: fixed;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  padding: 50px;
}
main p {
  margin: 20px 0;
}
.burgerBtn {
  width: 20px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.burgerBtn:before {
  content: "";
  position: absolute;
  top: 3px;
  width: 25px;
  background: white;
  height: 3px;
}

.burgerBtn span {
  position: absolute;
  top: 15px;
  width: 25px;
  background: white;
  height: 3px;
}
.burgerBtn:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 25px;
  background: white;
  height: 3px;
}


