* {
  box-sizing: border-box;
}
.app {
  background:rgb(235 228 228 / 19%);
  padding: 0;
  display: flex;
  flex-direction: column;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}




